main.main.main__enu
    .main__box 
        .main__slider.slider.pug1
            .main__slider-lines.slider__lines
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_1.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_1.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_1.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
            ul.slider__pagination 
                li  
                li  
        .main__menu 
            h1.menu__title 1 st
            .menu__box 
                .dish 
                    h2.dish__title CITRUS SALAD
                    p.dish__descr Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette  18$
                .dish 
                    h2.dish__title CHILLED WHITE ASPARAGUS
                    p.dish__descr Baby Lettuces, Mussel Broth & Calabrese Chili 21$
                .dish 
                    h2.dish__title FOIE GRAS TERRINE
                    p.dish__descr Rabbit, Carrots & Brioche 25$

                .dish 
                    h2.dish__title BUCATINI
                    p.dish__descr Butter, Chili, Mussel Broth & Bottarga 15$

                .dish 
                    h2.dish__title CHAWANMUSHI
                    p.dish__descr Mushrooms, Jalapeño, Radish & Scallions 17$

                .dish 
                    h2.dish__title MATZAH BALL SOUP
                    p.dish__descr Poached Matzah Ball, Chicken Broth & Winter Vegetable 27$

                .dish 
                    h2.dish__title TUNA
                    p.dish__descr Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil 38$

                .dish 
                    h2.dish__title CRAB
                    p.dish__descr Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé 55$

                .dish 
                    h2.dish__title SALMON
                    p.dish__descr Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” 57$
    .main__box 
        .main__slider.slider.pug2
            .main__slider-lines.slider__lines
                .slider__item 
                    img.enu__img(src="../assets/img/menu_2.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_1.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_1.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
            ul.slider__pagination 
                li  
                li  
        .main__menu 
            h1.menu__title 2 st
            .menu__box 
                .dish 
                    h2.dish__title CITRUS SALAD
                    p.dish__descr Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette  18$
                .dish 
                    h2.dish__title CHILLED WHITE ASPARAGUS
                    p.dish__descr Baby Lettuces, Mussel Broth & Calabrese Chili 21$
                .dish 
                    h2.dish__title FOIE GRAS TERRINE
                    p.dish__descr Rabbit, Carrots & Brioche 25$

                .dish 
                    h2.dish__title BUCATINI
                    p.dish__descr Butter, Chili, Mussel Broth & Bottarga 15$

                .dish 
                    h2.dish__title CHAWANMUSHI
                    p.dish__descr Mushrooms, Jalapeño, Radish & Scallions 17$

                .dish 
                    h2.dish__title MATZAH BALL SOUP
                    p.dish__descr Poached Matzah Ball, Chicken Broth & Winter Vegetable 27$

                .dish 
                    h2.dish__title TUNA
                    p.dish__descr Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil 38$

                .dish 
                    h2.dish__title CRAB
                    p.dish__descr Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé 55$

                .dish 
                    h2.dish__title SALMON
                    p.dish__descr Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” 57$
    .main__box 
        .main__slider.slider.pug3
            .main__slider-lines.slider__lines
                .slider__item 
                    img.enu__img(src="../assets/img/menu_3.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_1.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_1.png", alt="")
                .slider__item 
                    img.enu__img(src="../assets/img/menu_1_2.png", alt="")
            ul.slider__pagination 
                li  
                li  
        .main__menu 
            h1.menu__title 3 st
            .menu__box 
                .dish 
                    h2.dish__title OLIVE OIL CAKE
                    p.dish__descr Satsuma & Riesling Sabayon 21$
                .dish 
                    h2.dish__title APPLE TARTE TATIN
                    p.dish__descr Ginger Ice Cream & Miso  17$
                .dish 
                    h2.dish__title SWEET POTATO CRÈME CARAMEL
                    p.dish__descr Brown Butter Ice Cream & Pecans 15$
                .dish 
                    h2.dish__title BROOKLYN BLACKOUT
                    p.dish__descr Confit Leg, Satsuma & Red Peshori Pistachio 18$
                .dish 
                    h2.dish__title WARM DATE CAKE
                    p.dish__descr Hazelnut Whiskey Sauce & Crème Fraîche Ice Cream 25$
                .dish 
                    h2.dish__title FOUR FAT FOWL (NY)
                    p.dish__descr Cow's Milk, Pumpkin Seed Butter & Rhubarb 30$
