main.main 
    .eva 
        .eva__box 
            img.eva__img(src="../assets/img/secp_fir.png", alt="")
            .eva__cont 
                h1.eva__title KITCHEN
                a.eva__link(href="#") MORE
        .eva__box 
            img.eva__img(src="../assets/img/secp_sec.png", alt="")
            .eva__cont 
                h2.eva__title KITCHEN
                a.eva__link(href="#") MORE
        .eva__box 
            img.eva__img(src="../assets/img/secp_thi.png", alt="")
            .eva__cont 
                h3.eva__title KITCHEN
                a.eva__link(href="#") MORE
        .eva__box 
            img.eva__img(src="../assets/img/secp_fou.png", alt="")
            .eva__cont 
                h4.eva__title KITCHEN
                a.eva__link(href="#") MORE