footer.footer(id="footer") 
    .reservation
        .reserv__box 
                .reserv__input 
                    input.reserv__str(type="text" placeholder="Date")
                    input.reserv__str(type="text" placeholder="Time")
                    input.reserv__str(type="text" placeholder="How many people")
                    input.reserv__str(type="text" placeholder="Special wishes")
                    input.reserv__str(type="text" placeholder="Your name")
                    input.reserv__str(type="text" placeholder="Your phone")
                .reserv__reserv 
                    p.reserv__date Monday - Sunday ; 09:00 - 02:00
                    a.reserv__link(href="#")  RESERVATION
        .reserv__table 
            .table__box 
                h4.table__title RESERVE A TABLE
                p.table__cont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis.
                p.table__cont-extra Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.
    .about
        .about__box
            a(href="index.html")
                img.about__logo(src="../assets/img/logo.png", alt="")
            ul.about__links 
                li 
                    a.facebook(href="#")
                        img(src="../assets/img/facebook.png", alt="")
                li 
                    a.instagram(href="#") 
                        img(src="../assets/img/instagram.png", alt="")
                li 
                    a.telegram(href="#") 
                        img(src="../assets/img/telegram.png", alt="")
            .contact 
                h5.cont__title CONTACT
                ul.cont__list 
                    li 
                        a.cont__link(href="tel:+(302) 555-0107") (302) 555-0107
                    li 
                        a.cont__link(href="tel:+(239) 555-0108") (239) 555-0108
                    li 
                        a.cont__link(href="mailto:laperle.com") laperle.com
            .loc
                h6.loc__title LOCATION
                p.loc__cont 1901 Thornridge Cir. Shiloh, Hawaii 81063
        .map__box 
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5876.627780272343!2d-155.07328602512428!3d19.71726271171357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x79524b5eec71161b%3A0x6561bbb934c2395d!2sWailoa%20Art%20Center!5e0!3m2!1sen!2s!4v1660033036154!5m2!1sen!2s"  width="100%" height="290" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>