main.main 
    .main__info 
        .first__box
            .main__img
                img.img__menu(src="../assets/img/menu.png", alt="")
            .first__box-cont 
                h1.fbox__title MENU
                p.fbox__cont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a.fbox__link(href="menu.html") READ MORE
        .second__box
            .second__box-cont 
                h2.sbox__title EVENTS
                p.sbox__cont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
                a.fbox__link-right(href="events.html") READ MORE
            .main__img 
                img.img__menu(src="../assets/img/events.png", alt="")
        .first__box
            .main__img
                img.img__menu(src="../assets/img/about us.png", alt="")
            .first__box-cont 
                h3.fbox__title ABOUT US
                p.fbox__cont Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a.fbox__link(href="#") READ MORE
    .extra__info 
        .extra__box 
            img.extra__img-age(src="../assets/img/VALENTINE’S DAY.png", alt="") 
            a.extra__title(href="#") VALENTINE’S DAY
        .extra__box 
            img.extra__img-age(src="../assets/img/enjoy_diner.png", alt="")
            a.extra__title(href="#") ENJOY 25% OFF DINNER
        .extra__box 
            img.extra__img-age(src="../assets/img/FISH TARTARE WITH WASABI.png", alt="")
            a.extra__title(href="#") FISH TARTARE WITH WASABI
        .extra__box 
            img.extra__img-age(src="../assets/img/RESTAURANT REVIEW.png", alt="")
            a.extra__title(href="#") RESTAURANT REVIEW
        .extra__box 
            img.extra__img-age(src="../assets/img/MOTHER’S DAY.png", alt="")
            a.extra__title(href="#") MOTHER’S DAY
        .extra__box 
            a.extra__title-dark(href="#") CONTINUE READING OUR NEWS 
                span.extra__span HERE
            
